@charset "UTF-8";

.container-header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-menu .menu-list {
  display: flex;
  gap: 30px;
}

.menu-open, .menu-close {
  display: none;
}

