@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 768px){
  body {
    max-width: 100vw;
    margin: auto;
    overflow-x: hidden;
  }
/* container-principal */
  #container {
    max-width: 100vw;
    padding: 0;
    margin: 0 auto;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 50% auto 550px auto;
  grid-template-areas: 
  "header"
  "img"
  "texte"
  "new"
  "links";
  }
  /* header */
  .container-header .menu-list, .container-menu .menu-close {
    display: none;
  }

  .menu-open, .menu-close {
    display: block;
  }

  /* Texto-Principal */
  .container-texte {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .texte-title, .texte-title h1, .texte-par{
    width: 100%;
    font-weight: 700;
    text-align: left;
  }

  .texte-par p {
    font-size: 1.1em;
  }

  /* aside-> new */
  .container-new {
    margin-top: 50px;
  }

  .new-list h3 {
    color: white;
    font-size: 1.4em;
  }

  .new-list p {
    color: white;
    font-size: 1.1em;
  }


  /* footer -> não é rodapé de verdade */
  .container-links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .container-links .link-list {
    width: 100%;
    padding-bottom: 20px;
  }

  .container-links .link-list img {
    width: 100%;
    height: 100%;
  }

  .container-links .list-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;
  }

  .list-text .list-num {
    color: gray;
    font-weight: bold;
    font-size: 1.5em;
  }

  .list-text .list-title {
    font-size: 1.4em;
    font-weight: bold;
  }

  .list-text p {
    color: rgb(83, 83, 83);
    font-size: 1.2em;
    font-weight: normal;
  }
}

@media (min-width: 768px) and (max-width: 992px){
  #container {
    width: 100%;
    margin-left: 0px;
    padding-left: 25px;
    padding-top: 25px;
  } 
  /* text */
  .container-texte .texte-title h1{
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 700;
  }

  .container-texte .texte-par button {
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
  }

  /* aside */
  .container-new {
    min-height: 600px;
      margin-top: 0px;
    }
  
    .new-list h2{
      font-size: 1.5em;
    }
  
    .new-list p {
      color: white;
      font-size: 1.1em;
    }
  }