@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --font-primary: 'Roboto Mono', monospace;
  --font-secudary: Arial, sans-serif;



  --bgColor: #151515;
  --color-light: #fff;
  --color-dark-light: #BFBFBF;
  --color-dark: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62,5%;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

li, a {
  color: var(--color-dark);
  list-style: none;
  text-decoration: none;
}
